/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
   font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}



/* headerのCSS */

.header_color{
  background-color: #65B688;
}
body {
  width: 100%;
  height: 100%;
}
.wrapper{
  min-height: 100vh;
  position: relative;
}
.header {
    width: 100%;
    z-index: 1000;
    height: 50px;
}
.header_disp{
  display:flex;
  justify-content:space-between ;
}
.header_brand{
    float: left;
    text-decoration: none;
    padding: 15px 10px 10px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 45px;
    color:white;
}
.header_name{
    float: right;
    padding: 15px 20px 10px 10px;
    font-size: 18px;
    line-height: 20px;
    height: 45px;
    color:white;
}


/* footerのCSS */
.footer{
  z-index: 3;
  border-top: 1px solid #ddd;
  width:100%;
  padding: 12px 0;
  text-align: center;
  font-size: 11px;
  color: #777;
  background-color: #fff;
  height: 20px;

  position:absolute;
  bottom: 0;
  margin-bottom: -50px;
}



/* 全体のCSS */

ul {
  list-style: none;
}

h3{
  padding: 25px 0 10px 15px;
  font-size: large;
  font-weight: 200;
}
small{
  padding-left:15px;
  font-size: small;
  color: #999;
  
}


.breadcrumb-line{
  margin-left : auto ;
  margin-right : auto ;
  margin-top: 30px;
  margin-bottom: 30px;
  width:95% ;
  background-color: #fcfcfc;
  border: 1px solid #e5e5e5;
  line-height: 40px;
}

.breadcrumb{
  display: flex;
  width:95%
}

.li-1 {
  margin: auto 0 auto 0;
  padding-left:5px;
  color: #32434D;
}
.breadcrumb-sen{
  text-decoration: none
}
.li-a {
  color: #999;
}
.li-b{
  color: #32434D;
}

.slash{
  padding-left:10px;
  padding-right:10px;
}

.master-kanri{
  text-align: right;
  margin-right:2.5% ;
}
.master-kanri-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #65B688;
  font-size: 12px;
  color: #65B688;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
}
  
.master-kanri-btn:hover {
  background-color: #65B688;
  border-color: #65B688;
  color: #FFF;
}

.alert{
  padding-left: 2.5%;
  text-align: left;
  color:#FF0000; 
}

/* root_pathのCSS */

.login-wrapper{
  z-index: 1;
  width: 300px;
  top: 50%;
  left:50%;
  margin:auto;
  border: solid 1px;
  padding: 40px 10px; 
  position:absolute;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  background-color: #FCFCFC;
  border-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
}

.popup-header{
  background: #32434D;
  color: #fff;
  position:absolute;
  top:0;
  height: 20px;
  width: 320px;
  padding-top: 5px;
}

.select-tag{
  width:250px;
  height:35px;
  font-size:14px;
}

.login-btn{
  margin-top:20px;
  margin-bottom: 20px;
  height:30px;
  width: 50px;
}


/* マスター画面のCSS */
.info-blocks{
  display: flex;
  text-align: center;
  min-width: 150px;
  white-space: nowrap;
  margin: 70px 10px 5px 10px;
  list-style: none;
  justify-content:space-around;
  line-height: 100px;
}




/* btn */
.btn {
	display: inline-block;
	width: 170px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	-webkit-transition: .3s;
	transition: .3s;
  margin:5px;
}
.btn01 {
	position: relative;
	color: #fff;
	border: 1.5px solid #3CA2BB;
	background-color: #3CA2BB;
	z-index: 2;
	-webkit-perspective: 200px;
	perspective: 200px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.btn01::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
	-webkit-transition: .3s;
	transition: .3s;
}
.btn01:hover {
	color: #3CA2BB;
	border-color: #3CA2BB;
	background-color: #fff;
}
.btn01:hover::after {
	background-color: #3CA2BB;
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}


/* 新規登録社員のCSS */

.panel-body{
  margin-left : auto ;
  margin-right : auto ;
  margin-top: 30px;
  margin-bottom: 30px;
  width:95% ;
  background-color:none;
  border: 1px solid #e5e5e5;
  font-size: 12px;
}

.panel-top{
  background-color: #fcfcfc;
  border-bottom: 1px solid #e5e5e5;
  width: 95％;
  line-height: 40px;
  margin-bottom: 30px;
}
.penel-top-text{
  margin-left: 20px;
}

.panel-column{
  display: flex;
  line-height: 30px;
  width:75%;
}
.panel-sen{
  margin:10px 30px 10px 100px;
  width: 70px;
}
.penel-field{
  margin:10px 25px
}
.panel-field-in{
  border: 1px solid #e5e5e5;
  height: 30px;
  width: 320px;
}


.year,.month,.day{
  border: 1px solid #e5e5e5;
  height: 30px;
  width: 50px;
  margin: 10px 0;
 }
.year{
   margin-left: 25px;
 }

 .panel-field-select{
  border: 1px solid #e5e5e5;
  height: 30px;
  width: 300px;
 }

 .submit{
  text-align: right;
  margin-right:23px ;
}

.submit-btn{
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #32434D;
  font-size: 12px;
  color: #32434D;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  background-color: #fff;
  margin-bottom: 30px;
}
  
.submit-btn:hover {
  background-color: #32434D;
  border-color: #32434D;
  color: #FFF;
}

.panel-bottom {
  margin-bottom:40px;
}

/* 社員一覧のcss */

td, th {
  vertical-align: middle;  /* 中央揃え */
}

table{
  margin-left : auto ;
  margin-right : auto ;
  margin-top: 30px;
  margin-bottom: 30px;
  width:95% ;
  background-color:none;
  border: 1px solid #e5e5e5;
  font-size: 15px;
}

.tr-enployee{
  height: 80px;
}

.thead-employee{
  background-color: #32434D;
  color: #FFF;
}
table, td, th{
  border: 1px solid #e5e5e5;
  font-family:"sans-serif";
  font-weight:400;
}

/* 社員図書費一覧のcss */

.books-year{
  margin-left : 2.5% ;
  margin-top: 15px;
  margin-bottom: 15px;
  width:500px ;
  background-color: #fcfcfc;
  border: 1px solid #e5e5e5;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
}
.books-year-2{
  margin-left : 2.5% ;
  margin-top: 60px;
  margin-bottom: 15px;
  width:500px ;
  background-color: #fcfcfc;
  border: 1px solid #e5e5e5;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
}

.tr-enployee-books{
  height: 60px;
}

/* 図書費個人ページのcss */

.tr-books{
  height: 30px;
  list-style-type: none;
}

.th-width-height{
  width: 200px;
  height: 30px
}

.submit-btn-book{
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #32434D;
  font-size: 12px;
  color: #32434D;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  background-color: #fff;
  margin-bottom:18px;
}

.submit-btn-book:hover {
  background-color: #32434D;
  border-color: #32434D;
  color: #FFF;
}

.panel-sen-book{
  margin:0px 30px 5px 100px;
  width: 70px;
}
.penel-field-book{
  margin:0px 25px 5px 25px;
}
.penel-field-book-search{
  margin:0px 25px 5px 25px;
}

.books-year-person{
  margin-left : 2.5%;
  margin-right: 2.5%;
  margin-top: 15px;
  margin-bottom: 15px;
  width:95% ;
  background-color: #fcfcfc;
  border: 2px solid #e5e5e5;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
}

.li-1-book {
  margin: auto 0 auto 0;
  padding-left:20px;
  color: #32434D;
}

.select_year{
  border: 1px solid #e5e5e5;
  height: 30px;
  width: 200px;
  margin: 10px 0;
}

.search-sum-box{
  height: 60px;
  width: 95%;
  margin: auto;
}

.search-sum{
  display: flex;
  border-bottom: 2px double #e5e5e5;
}

.li-search-1{
  margin-left: 15px;
}

.li-search-2{
  margin-left: 60px;
}


/* 有給休暇一覧のCSS */
.paid-kanri{
  text-align: right;
  margin-right:2.5% ; 
  display:flex;
  justify-content:flex-end;
}

.paid-kanri-btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #65B688;
  font-size: 12px;
  color: #65B688;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 35px;
  border-radius: 4px;
  transition: .4s;
  margin-right: 20px;
}
  
.paid-kanri-btn:hover {
  background-color: #65B688;
  border-color: #65B688;
  color: #FFF;
}

/* 有給休暇の規則 CSS */
h2 {
  margin-top: 10px;
  margin-left:2.5%;
  margin-bottom: 10px;
  font-weight: bold;
  width:200px;
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #d8ffe9;/*背景透明に*/
  border-left: solid 5px #65B688;/*左線*/
}

.paid-ex-sen{
  margin-left: 3.6% ;
  margin-top: 5px;
  font-size:15px;
}

.tr-paid-ex{
  height: 40px;
}
.tr-paid-ex-work{
  height:30px;
  text-align:center
}

.padding-bottom{
  padding-bottom: 15px;
}

/* 新規作成のCSS */
.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 200px;

}
